@model IEnumerable<ConfiguradorDeComponents.Models.Equipamentos>

<div class="topo">
    <div class="topo">
        <h1 class="topo__aba">
            Equipamentos
        </h1>
    </div>
    <button class="topo__adicionar">
        <a asp-action="AdicionarEquipamento">
            <i class="fas fa-plus-circle"></i>
            Adicionar Equipamento
        </a>
    </button>
</div>

<table class="tabela">
    <thead class="tabela__cabecalho">
        <tr class="tabela__cabecalho__items">
            <th class="tabela__cabecalho__items__item">
                Nome
            </th>
            <th class="tabela__cabecalho__items__item">
                Descrição
            </th>
            <th class="tabela__cabecalho__items__item">
                Tipo do equipameto
            </th>
            <th class="tabela__cabecalho__items__item">
                Numero de série
            </th>
            <th class="tabela__cabecalho__items__item">
                Data de cadastro
            </th>
            <th class="tabela__cabecalho__items__item">
                <i class="fas fa-ellipsis-h"></i>
            </th>
        </tr>
    </thead>
    <tbody class="tabela__corpo">
        @foreach (var item in Model)
        {
            <tr class="tabela__corpo__items">
                <td class="tabela__corpo__items__item nome">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="tabela__corpo__items__item">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td class="tabela__corpo__items__item">
                    @Html.DisplayFor(modelItem => item.NomeDoTipoDeEquipamento)
                </td>
                <td class="tabela__corpo__items__item">
                    @Html.DisplayFor(modelItem => item.NumeroDeSerie)
                </td>
                <td class="tabela__corpo__items__item">
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>

                <td class="tabela__corpo__items__item">

                    <a href="@Url.Action("EditarEquipamento", "Equipamentos", new { id = item.Id })">
                        <i class="fas fa-pencil-alt"></i>           
                    </a>

                    <a href="@Url.Action("DeletarEquipamento", "Equipamentos", new { id = item.Id })">
                        <i class="fas fa-trash-alt"></i>      
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
