@model IEnumerable<ConfiguradorDeComponents.Models.Alarmes>

<div class="topo">
    <h1 class="topo__aba">
        Alarmes
    </h1>
    <button class="topo__adicionar">
        <a asp-action="AdicionarAlarmes">
            <i class="fas fa-plus-circle"></i>
            Adicionar Alarme
        </a>
    </button>
</div>

<table class="tabela">
    <thead class="tabela__cabecalho">
        <tr class="tabela__cabecalho__items">
            <th class="tabela__cabecalho__items__item">
                Equipamento relacionado
            </th>
            <th class="tabela__cabecalho__items__item">
                Descrição do alarme
            </th>
            <th class="tabela__cabecalho__items__item">
                Classificação do alarme
            </th>
            <th class="tabela__cabecalho__items__item">
                Data de cadastro
            </th>
            <th class="tabela__cabecalho__items__item">
                <i class="fas fa-ellipsis-h"></i>
            </th>
        </tr>
    </thead>
    <tbody class="tabela__corpo">
        @foreach (var item in Model)
        {
            <tr class="tabela__corpo__items">
                <td class="tabela__corpo__items__item nome">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="tabela__corpo__items__item">
                    @Html.DisplayFor(modelItem => item.DescricaoAlarme)
                </td>
                <td class="tabela__corpo__items__item">
                    @Html.DisplayFor(modelItem => item.NomeClassificacaoAlarme)
                </td>
                <td class="tabela__corpo__items__item">
                    @Html.DisplayFor(modelItem => item.DataDeCadastroAlarme)
                </td>
                <td class="tabela__corpo__items__item">
                    <a href="@Url.Action("EditarAlarme", "Alarmes", new { id = item.IdAlarme })">
                        <i class="fas fa-pencil-alt"></i>           
                    </a>
                    <a data-toggle="modal" data-target="#modalDeletarAlarme">
                        <i class="fas fa-trash-alt"></i>      
                    </a>
                </td>
            </tr>

            <div class="modal fade" id="modalDeletarAlarme" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Deletar alarme</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja excluir este alarme permanentemente?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                        <a href="@Url.Action("DeletarAlarme", "Alarmes", new { id = item.IdAlarme })">
                            <button type="button" class="btn btn-success">Sim</button>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            
        }
    </tbody>
</table>